<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify</title>
    <style>
      .card {
        width: 240px;
        height: 254px;
        padding: 0 15px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        background: #fff;
        border-radius: 20px;
      }

      .card > * {
        margin: 0;
      }

      .card__title {
        font-size: 23px;
        font-weight: 900;
        color: #333;
      }

      .card__content {
        font-size: 13px;
        line-height: 18px;
        color: #333;
      }

      .card__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .card__form input {
        margin-top: 10px;
        outline: 0;
        background: rgb(255, 255, 255);
        box-shadow: transparent 0px 0px 0px 1px inset;
        padding: 0.6em;
        border-radius: 14px;
        border: 1px solid #333;
        color: black;
      }

      .card__form button {
        border: 0;
        background: #111;
        color: #fff;
        padding: 0.68em;
        border-radius: 14px;
        font-weight: bold;
      }

      .submit:hover {
        opacity: 0.8;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <form id="verifyForm">
        <span class="card__title">OTP</span>
        <p class="card__content">
          We have just sent you an OTP code for your account login. Please check
          and fill in the form below.
        </p>
        <div class="card__form">
          <input placeholder="Your OTP" type="text" id="otp" />
          <button class="submit">SUBMIT</button>
        </div>
      </form>
    </div>

    <script>
      document
        .getElementById("verifyForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const otp = document.getElementById("otp").value;
          console.log(typeof otp);
          const verifyToken = localStorage.getItem("verifyToken");

          console.log("Sending OTP and Verify Token:", otp, verifyToken); // Kiểm tra giá trị được gửi

          try {
            const response = await fetch("/api/user/verify", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ otp, verifyToken }),
            });

            const data = await response.json();
            console.log("Response from backend:", data);
            if (data.success) {
              window.location.href = "/verifyPage";
            } else {
              alert(data.message || "Verification failed!");
            }
          } catch (error) {
            console.error("Error during API call:", error);
          }
        });
    </script>
  </body>
</html>
